body {
    padding-bottom: 70px; /* กันปุ่มล่างบังเนื้อหา */
    padding-top: 80px;
      /* เว้นที่ให้ Navbar fixed-top */
    background-color: #f8f9fa;
}

.card-hover:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: 0.2s;
}

/* หน้าจอคลุมตอนโหลด */
#loadingOverlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(255,255,255,0.8);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  flex-direction: column;
}

/* วงกลมหมุน */
.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 60px; height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loadingOverlay p {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}